.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  font-family: 'Arial', sans-serif;
  animation: pulsateBackground 8s ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes pulsateBackground {
  0%,
  100% {
    background-color: #00494d;
  }
  50% {
    background-color: #149096;
  }
}
